<!DOCTYPE html>
<html>

<body>


<form>
    <%= data.username %>
    <label for="fname">First Name:</label><br>
    <input type="text" id="fname" name="fname" placeholder="Enter Here"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" placeholder="Enter Here">
    <button type="submit" on>Submit</button>
</form>


</form>
</body>
</html>