<!DOCTYPE html>
<html>
<head>
<title>Resource Not Found</title>
</head>
<body>

<h1>I don't know what you are looking for...</h1>
<p><img src="images/404-not-found-error.jpg" ></p>

</body>
</html>